.multipleSelectBoxControl span { /* Labels above select boxes*/
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
}

.multipleSelectBoxControl div select { /* Select box layout */
  font-family: arial;
  height: 100%;
}

.multipleSelectBoxControl input { /* Small butons */
  width: 25px;
}

.multipleSelectBoxControl div {
  float: left;
}
.multipleSelectBoxDiv