<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN" "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>
  <!-- ============== Description de la librairie des balises JSP ============= -->
  <tlib-version>1.0</tlib-version>
  <jsp-version>1.1</jsp-version>
  <short-name>sofi-tiles</short-name>
  <uri>http://www.sofiframework.org/taglib/sofi-tiles</uri>
  <description>Balise SOFI pour la librairie Apache Tiles</description>
  <tag>
    <name>getLibelle</name>
    <tag-class>org.sofiframework.presentation.balisesjsp.tiles.GetLibelleTag</tag-class>
    <body-content>empty</body-content>
    <description>
      Balise de présentation d'un libellé. La propriété name représente une
      variable configurable d'un gabarit tile. La valeur de la variable est
      l'identifiant de la classe de messagerie libellé configurée dans
      l'application.
    </description>
    <attribute>
      <name>name</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <description>La variable configurable à récupérer.</description>
    </attribute>
    <attribute>
      <name>ignore</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description>
        Specifie si l'on doit ignorer les erreurs dans le cas ou la variable
        n'est pas trouvée.
      </description>
    </attribute>
    <attribute>
      <name>role</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description>
        TODO: Trouver plus d'info à propos de cet attribut.
      </description>
    </attribute>
    <example>../exemples/exemple_sofi-tiles_getLibelle.html</example>
  </tag>
  <tag>
    <name>getMessage</name>
    <tag-class>org.sofiframework.presentation.balisesjsp.tiles.GetMessageTag</tag-class>
    <body-content>empty</body-content>
    <description>
      Balise qui permet d'obtenir la description du message à parir de sa clé.
    </description>
    <attribute>
      <name>name</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <description>Clé du message à récupérer.</description>
    </attribute>
    <attribute>
      <name>ignore</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description>
        Specifie si l'on doit ignorer les erreurs dans le cas ou la variable
        n'est pas trouvée.
      </description>
    </attribute>
    <attribute>
      <name>role</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description>
        TODO: Trouver plus d'info à propos de cet attribut.
      </description>
    </attribute>
    <example>../exemples/exemple_sofi-tiles_getMessage.html</example>
  </tag>  
</taglib>