<%@ tag body-content="scriptless" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib uri="http://www.sofiframework.org/taglib/sofi" prefix="sofi"%>
<%@ taglib uri="http://jakarta.apache.org/struts/tags-tiles"  prefix="tiles"%>

<p align="right" class="champsobligatoire">
  <span class="ind_obligatoire">*</span>
  <sofi:libelle identifiant="infra_sofi.libelle.commun.champ.obligatoire" />
</p>